
body {
    font-family: "Verdana";
    background-color: black;
    text-align: center;
    align-items: center;
    margin: 0;
  }
  /* HEADINGS */
  .header--main {
    font-family: "Verdana", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: normal;
  }  
  
  .header--secondary {
    font-family: "Verdana", sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 300;
    background-color: black;
  }

  .header--sub-header {
    font-family: "Verdana", sans-serif;
    color: grey;
    font-size: 21px;
    text-align: center;
  }
  
  /* LINKS */

  .link--cta {
    font-size: 16px;
    text-align: center;
    color: aquamarine;
  }

  

  
